modules = ["web", "postgresql-16", "nodejs-22"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33921
externalPort = 8000

[[ports]]
localPort = 34545
externalPort = 3002

[[ports]]
localPort = 37117
externalPort = 3001

[[ports]]
localPort = 37157
externalPort = 3003

[[ports]]
localPort = 40961
externalPort = 3000

[[ports]]
localPort = 41201
externalPort = 5173

[[ports]]
localPort = 44219
externalPort = 6000

[[ports]]
localPort = 44403
externalPort = 5000

[[ports]]
localPort = 44949
externalPort = 4200

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_WALLETCONNECT_PROJECT_ID = "a01e488dc77a8abef37988808e0cad0e"
VITE_CELO_RPC_URL = "https://forno.celo.org"
VITE_BOOST_VAULT_CUSD_ADDRESS = "0x775e8a5cbf69143482c89dcf9461d96cd49efb18"
VITE_BOOST_VAULT_USDC_ADDRESS = "0xEE191B1aa821C42E4646ca5FdC5ACDd3aBE31F90"
VITE_BOOST_VAULT_USDT_ADDRESS = "0xF0401D830B2e0daeda33ee58e04124A67EdcC734"
VITE_BOOST_VAULT_CELO_ADDRESS = "0xFCC13010E9e6FfE7E6d90c24896f5b9CCB14C78B"
